* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Handlee", cursive;
    /*font-family: "Overlock", sans-serif;*/
}

main {
    background-color: rgb(220, 221, 222);
    padding-top: 30px;
}

header {
    background-color: #1E3A5F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
}

header h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    font-weight: 800;
    margin-left: 25px;
    text-decoration: none;
    color: rgb(229, 229, 229);
}

header nav ul li a:hover{
    color: #4a8c91;
}

#inicio {
    background-image: url('../images/fondo_inicio3.jpeg');
    background-position-y: -100px ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    font-weight: 800; /*+ oscuro*/
    justify-content: space-between;
}

article #bienvenida {
    height: 300px;
    max-width: 500px;
    font-size: 1.5em;
    text-align: center;
    justify-content: end;
    color: rgb(86, 85, 85);
    padding-top: 100px;
    padding-left: 20px;
}   

article #bienvenida h2 {
    font-size: 2em;
    color: #18497a;
}

#box {
    /* top,right, bottom, left */
    margin: 20px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#box h2 {
    text-align: center;
    font-size: 1.7em;
    color: #18497a;
    text-transform: uppercase;
}
section #oferta p{
    color: white;   
}

section #oferta h3{
    color: #18497a;   
}

section #oferta {   
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    flex: 3;
    justify-content: center;
    padding: 15px;
    gap: 60px;
}

section #oferta img {
    max-width: 140px;
    height: auto;
    padding-bottom: 5px;
    transition: 0.5s;
}

section #oferta img:hover {
    transform: translateY(-20px);
}

section #oferta article {
    max-width: 220px;
    background-color: #4a8c91;
    border: 3px solid #5e9494;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 5px rgba(48, 47, 47, 0.1);
}

footer {
    background-color:  #1E3A5F;
    text-align: center;
    color: white;
    padding: 10px;
}
.fab {
    color: white;
    font-size: 0.8cm;
    display: inline;
    padding: 10px;
}